img {
  max-width: 100%;
}

body {
  font-family: 'Slabo 27px', serif;
  min-height: 100vh;
}

.home {
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  background-image: url(img/home.jpg);
  background-size: cover;

  display: flex;
  align-items: stretch;
  /*justify-content: space-around;*/
}

nav {
  width: 100%;
}

ul {
  display: flex;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.projects,
.about,
.contact {
  /*margin-top: -200px;*/
  color: white;
}

.about a {
  /*margin: 0 100px;*/
}

li a {
  font-size: 2em;
  color: white;
}

button span {
  background-color: white;
}
