body {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.btn {
  color: black;
  background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
  font-family: 'Indie Flower', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}

.title {
  justify-content: center;
  align-self: center;
}

.button {
  justify-content: center;
  align-self: center;
}

h3 {
  padding-top: .5em;
  font-family: 'Indie Flower', cursive;
}

h1 {
   font-family: 'Indie Flower', cursive;
}