body {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.btn {
  color: black;
  background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
  font-family: 'Indie Flower', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-self: center;
}

.button {
  justify-content: center;
  align-self: center;

  padding-bottom: 1em;
}

h3 {
  padding-top: .5em;
  font-family: 'Indie Flower', cursive;
}

h1 {
   font-family: 'Indie Flower', cursive;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
